.blog-module {
    
    .blog-filter-options {
        @include make-row();
        
        .filter-group {
            &.categories {
                @include make-xs-column(12);
            }
            &.sort {
                display: none;
            }
            >h3 {
                display: inline-block;
                
                span {
                    color: $color-darkorange;
                }
                + a {
                    margin-left: 10px;
                }
            }
        }
    }
    .blog-posts {
        @include make-row();
        
        .post, .sizer {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(4);
        }
        .post {
            h3 {
                line-height: 1.25;
            }
        }
        .sizer {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }
}