#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    text-transform: uppercase;
    transition: all 150ms ease 0ms;
    background-color: $color-lightgray;
    
    @include breakpoint($bp-desktop) {
        height: auto;
    }
    
    &.mini {
        
    }
    
    >.container-fluid {
        position: relative;
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    
    .logo {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1.2rem;
        width: 50px;
        color: transparent;
        font-size: 0;
        
        @include breakpoint($bp-desktop) {
            top: 0;
            margin-top: 1.2rem;
        }
        
        svg {
            width: 100%;
            height: 100%;
            
//            path {
//              stroke-dasharray: 3000;
//              stroke-dashoffset: 3000;
//              animation: draw 5s linear forwards;
//            }
//            
//            @keyframes draw {
//                to {
//                    stroke-dashoffset: 0;
//                }
//            }
        }
    }
    .hamburger {
        position: absolute;
        right: 0;
        z-index: 99;
        height: 100%;
        width: 50px;
        background-color: $color-lightgray;
        
        @include breakpoint($bp-desktop) {
            display: none;
        }
        
        .icon-bar {
            position: absolute;
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            margin: auto -4px;
            left: calc(50% + 1px);
            top: calc(50% - 3px);
            background: $color-background;
            transition: all 0.25s ease 0ms;
            
            +.icon-bar {
                margin-left: 8px;
            }
            &:nth-of-type(2) {
                margin-left: -4px;
            }
            &:nth-of-type(3) {
                margin-left: -16px;
            }
        }
    }
    
    nav {
        display: block;
        position: fixed;
        padding-top: 50px;
        right: 0;
        margin: 0;
        max-width: 320px;
        width: 70vw;
        height: 100vh;
        transform: translate3d(111%, 0%, 0px);
        transition: all 200ms cubic-bezier(0.61, 0.92, 0.68, 1.14) 0s;
        background: $color-lightgray;
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
        z-index: 98;
        
        @include breakpoint($bp-desktop) {
            position: static;
            text-align: right;
            display: block;
            width: auto;
            height: auto;
            transform: none;
            transition: none;
            padding: 0;
            max-width: inherit;
            box-shadow: none;
            background: none;
        }
        
        a {
            display: block;
            @include fontsize(22);
            letter-spacing: 0.15em;
            padding: 0.8em 5vw 0.8em 1em;
            opacity: 0;
            transition: all 500ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
            transform: translate3d(-6.25%, 0, 0);
            
            @include breakpoint($bp-desktop) {
                opacity: 1;
            }
        }
        
        ul {
            margin: 0;
            
            @include breakpoint($bp-desktop) {
                width: 100%;
            }
            
            li {
                @include breakpoint($bp-desktop) {
                    display: inline-block;
                }
                
                &.active {
                    transform: skewX(-20deg);
                    background: $color-background;
                    
                    span {
                        transform: skewX(20deg);
                        color: $color-lightgray;
                    }
                }
                
                span {
                    display: block;
                }
            }
        }
    }
}

// nav open
body.nav-open {
    overflow: hidden;
    
    #header {
        nav {
            transform: translate3d(40px, 0, 0);
            
            li {
                &:nth-of-type(2) a {
                    transition-delay: 0.40s;
                }
                &:nth-of-type(3) a {
                    transition-delay: 0.50s;
                }
                &:nth-of-type(4) a {
                    transition-delay: 0.60s;
                }
            }
            
            a {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition-delay: 0.30s;
            }
        }
        .hamburger {
            .icon-bar {
                width: 3.5px;
                height: 30px;
                top: calc(50% - 15px);
                transition: all 0.25s ease 0.25s;

                &:nth-of-type(1) {
                    transform: scale(1, 1) rotate(45deg) translate(0, 0);
                }
                &:nth-of-type(2) {
                        transform: scale(1, 1) rotate(-45deg) translate(0, 0);
                }
                &:nth-of-type(3) {
                    opacity: 0;
                }
                &:nth-of-type(4) {
                    transform: scale(0, 0) rotate(0) translate(0, -8px);
                }
            }
        }   
    }
    #body {
        -webkit-filter: blur(3px);
    }
}