.post-wall {
    text-align: center;
    padding: 20px 0;
    @include breakpoint($bp-tablet) {
        padding: 40px 0;
    }
    @include breakpoint($bp-desktop) {
        padding: 50px 0;
    }
    
    h1 {
        letter-spacing: 3px;
        line-height: 1.5;
        margin: 0;
        
        @include breakpoint($bp-tablet) {
            @include fontsize(50);
        }
        @include breakpoint($bp-desktop) {
            @include fontsize(60);
        }
    }
    h5 {
        span {
            display: block;
            
            @include breakpoint($bp-tablet) {
                display: inline;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}
.post {
    .post-content {
        padding: 50px 0;
        
        h2, h3, h4 {
            > a {
                @include fontsize(20);
                margin-left: 10px;
                &:before {
                    content: "(";
                }
                &:after {
                    content: ")";
                }
            }
        }
        
        p {
            > code {
                border-radius: 6px;
                padding: 0 2px 1px 4px;
                background: $color-white;
                color: $color-code;
            }
        }
    }
}

#disqus_thread {
    @include container-fixed();
    padding-top: 30px;
    
    @include breakpoint($bp-desktop) {
        max-width: $container-desktop;
    }
}