.svg-heart {
  fill: $color-code;
  position: relative;
  top: 5px;
  width: 20px;
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  25% { transform: scale(1.2); }
  35% { transform: scale(1); }
  45% { transform: scale(1.2); }
  100% { transform: scale(1); }
}