<section class="typed">
    <div class="container">
        <div class="typed-wrapper">
            <h1 class="headline">HighTechManLand</h1>
            <span>blogs-about=</span>
            <div class="typer-wrapper">
                <p class="typer"></p>
            </div>
        </div>
        <div class="typed-strings sr-only">
            <p>Sitecore Development</p>
            <p>JavaScript</p>
            <p>Front End Trends</p>
            <p>Sass</p>
            <p>Automation with Gulp</p>
            <p>SVG for the Web</p>
            <p>C# MVC</p>
            <p>Sitecore PowerShell</p>
        </div>
    </div>
</section>